<section class="md:w-1/2 mx-auto bg-gray-50 rounded p-4 border shadow">
    <h1 class="text-3xl font-light text-center text-green-600">Forgot Password </h1>

  @if(step==1){
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" >
        <div class="mb-1">
            @let emailControl=verifyEmail.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email" type="email" id="email"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

            @if(emailControl?.errors &&emailControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(emailControl?.getError("required")){
                        <li>Email is Required</li>
                        }
                        @else if(emailControl?.getError("email")){
                        <li>Entar Valid Email</li>
                        }


                    </ul>
                </div>
            </div>
            }



        </div>
        <div>
            <button [disabled]="verifyEmail.invalid" class="btn-main ms-auto">verify Email</button>
            @if(isloading){
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </div>
    </form>
  }
  @else if(step==2){
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" >
        <div class="mb-1">
            @let restControl=verifyCode.get('resetCode');
            <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 ">VerifyCode</label>
            <input formControlName="resetCode" type="text" id="resetCode"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            @if(restControl?.errors &&restControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(restControl?.getError("required")){
                        <li>recode is Required</li>
                        }
                        @else if(restControl?.getError("pattern")){
                        <li> No Match</li>
                        }


                    </ul>
                </div>
            </div>
            }
        </div>
        <div>
            <button [disabled]="verifyCode.invalid" class="btn-main ms-auto">verify Email</button>
            @if(isloading){
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </div>
    </form>
  }
  @else if (step==3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">

        <div class="mb-1">
            @let resetEmailControl=resetPassword.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email" type="email" id="email"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

            @if(resetEmailControl?.errors &&resetEmailControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(resetEmailControl?.getError("required")){
                        <li>Email is Required</li>
                        }
                        @else if(resetEmailControl?.getError("email")){
                        <li>Entar Valid Email</li>
                        }


                    </ul>
                </div>
            </div>
            }



        </div>

        <div class="mb-1">
            <!-- @let passwordControl=verifyCode.get('password'); -->
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">New Password</label>
            <input formControlName="password" type="password" id="password"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            <!-- @if(passwordControl?.errors &&passwordControl?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 "
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(passwordControl?.getError("required")){
                        <li>Password is Required</li>
                        }
                        @else if(passwordControl?.getError("pattern")){
                        <li> must start with a capital letter and be more than 7 characters long</li>
                        }


                    </ul>
                </div>
            </div>
            } -->
        </div>
        <div>
            <button [disabled]="resetPassword.invalid" class="btn-main ms-auto">verify Email</button>
            @if(isloading){
                <span><i class="fas fa-spin fa-spinner"></i></span>
                }
        </div>

    </form>
  }




</section>