<section>
    <!-- grid grid-cols-[70%_minmax(0,1fr)] -->
    <div class="flex flex-wrap ">
        <div class="w-[100%] sm:h-[150px] md:w-[70%] ">
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide> <img src="/images/img1.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
                <ng-template carouselSlide> <img src="/images/img2.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
                <ng-template carouselSlide> <img src="/images/img3.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
                <ng-template carouselSlide> <img src="/images/img4.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
                <ng-template carouselSlide> <img src="/images/img5.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
                <ng-template carouselSlide> <img src="/images/img6.avif" class=" w-full md:h-[300px]" alt=""></ng-template>
            </owl-carousel-o>

        </div>
        <div class="sm:w-[100%] md:w-[30%]">
            <img src="/images/grocery-banner.png" class="w-full md:h-[150px]" alt="">
            <img src="/images/grocery-banner-2.jpeg" class="w-full md:h-[150px]" alt="">
        </div>


    </div>
</section>
<!-- categories -->
<section>
    <h2 class="text-3xl text-center py-8">Popular Categories</h2>
    <owl-carousel-o [options]="customOptions">

        @for (cat of categories(); track cat._id) {
        <ng-template carouselSlide [id]="cat._id">
            <div>
                <img [src]="cat.image" class="w-full h-[250px] object-contain" [alt]="cat.name">
                <h3 class="text-green-600">{{cat.name}}</h3>
            </div>
        </ng-template>
        }

    </owl-carousel-o>
</section>
<!-- products -->
<section>

    <h1 class="py-8 text-center text-4xl">Popular Products</h1>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        @for (product of products().slice(0,12); track product.id) {
        <div class=" card border hover:border-green-500/50 rounded-md overflow-hidden shadow hover:scale-[1.1] relative transition-all">
            <div  [routerLink]="['/details',product.id]">
                <div class="card-img">
                    <img [src]="product.imageCover" class="w-full h-[250px] object-contain" [alt]="product.title">
                </div>
                <div class="card-body px-2 pt-4">
                    <h4 class="text text-green-500 text-xs"> {{product.category.name}}</h4>
                    <h3 class="font-medium"> {{product.title.split(" ",2).join(' ')}}</h3>
                  
                   
                    <div class="flex justify-between items-center">
                        <span>{{product.price}} EGP</span>
                        <div class="flex items-center">
                            @for (num of [1,2,3,4,5].slice(0, product.ratingsAverage); track $index) {
                          
                                <span><i class="fas fa-star text-yellow-300"></i></span> 
                               }
                               @if(product.ratingsAverage %1 !==0){
                                 <span><i class="fa-solid fa-star-half-stroke text-yellow-300"></i></span> 
         
                               }
                            <span class="text-gray-500 ">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
            </div>
          <div class="relative pb-4 z-30">
            <i #heartIcon (click)="addToWish(product.id)" [class]="isProductInWishlist(product.id) ? 'fas fa-heart text-red-500' : 'far fa-heart text-black'" class="fa-solid fa-heart text-2xl absolute top-0 right-2"></i>
          </div>
            <button (click)="addToCart(product.id)" class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add To Card</button>
        </div>
        }

    </div>
</section>