<footer class="bg-main-light py-5 ">
    <div class="container mx-auto">
        <h2 class="m-0 h4 ">Get The FreshCart App</h2>
        <p class=" text-sm  text-gray-400 font-light">
            We Will Send You a Link, Open it on Your Phone to download the app
        </p>

        <!-- inputs design  -->
        <div class="flex items-center gap-3 text-nowrap my-4">
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            <button class="btn-main">Share App Link</button>
        </div>

        <hr />

        <!-- footer payment Details Design  -->
        <div class="pay-details sm:block  md:flex justify-between items-center ">
            <div class="flex items-center mb-3  gap-2 ">
                <h3 class="h6 m-0 ">Payment partners</h3>
                <img src="/images/amazon-pay.png" width="30px" alt="" />
                <img src="/images/American-Express-Color.png" width="30px" alt="" />
                <img src="/images/paypal.png" width="30px" alt="" />
                <img src="/images/mastercard.webp" width="30px" alt="" />
            </div>

            <div class="flex items-center gap-2">
                <h3 class="h6 m-0 ">Get Deliveries with FreshCart</h3>
                <img src="/images/get-google-play.png" width="75px" alt="" />
                <img src="/images/get-apple-store.png" width="75px" alt="" />
            </div>
        </div>
    </div>
</footer>